*{
    margin:0;
    padding:0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
   
    align-items: center;
    justify-content: center;
    gap:1.5vmin
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius:14px;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color:#b0413e;
    cursor:pointer;
    background-color: #fff;
}
#reset_btn{
    padding:1rem;
    font-size:1.2rem;
    background-color: #191913;
    color:#fff;
    border-radius:1rem;
    border:none;
    cursor:pointer;
    overflow: hidden;
}
#new_btn{
    padding:1rem;
    font-size:1.2rem;
    background-color: #191913;
    color:#fff;
    border-radius:1rem;
    border:none;
    cursor:pointer
}
#msg{
    color:#ffffc7;
    font-size: 8vmin;
}
.msg_container{
   
    height:20vmin;
    margin: 20px;
}
.hide{
    display: none;
}
.color_x{
    color: #E43A72;
}
.color_0{
    color:#49ce2b
}
@media only screen and (max-width: 370px) {
    .msg_container{
   
        height:30vmin;
        margin: 30px;
    }
    #msg {
      font-size:6vmin;
      padding: 10px;
    }
    #reset_btn{
        padding:0.7rem;
        font-size:0.9rem;
        border-radius:0.9rem;
        margin-bottom: 20px;
        overflow: hidden;
    }
    #new_btn{
        padding:0.7rem;
        font-size:0.9rem;
        border-radius:0.9rem;
        overflow: hidden;
    }
    .container{
        
        height:70vh;  
        
    }
    .game{
        height:70vmin;
        width:70vmin;
       
        gap:1.2vmin
    }
    .box{
        height: 28vmin;
        width:22vmin;
        font-size: 10vmin;
        
    }
    h1{
        font-size:30px
    }
  }